<h1 class="text-center">Practice Of Material & Kendo UI</h1>
<hr>
<kendo-appbar [position]="'top'">
    <kendo-appbar-section>
        <button class="k-button k-button-clear">
            <kendo-icon [name]="'menu'"></kendo-icon>
        </button>
    </kendo-appbar-section>
  
    <kendo-appbar-section>
        <h1 class="title">Kendo UI for Angular</h1>
    </kendo-appbar-section>
  
    <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>
  
    <kendo-appbar-section>
        <ul>
            <li routerLink="/ui"  routerLinkActive="active"><span>UI</span></li>
            <li routerLink="/kendo" routerLinkActive="active"><span>Kendo Donut Chart & Kendo Grid</span></li>
            <li routerLink="/Bar" routerLinkActive="active"><span>Kendo Bar Chart</span></li>
            <!-- <li routerLink="/grid" routerLinkActive="active"><span>Kendo Grid</span></li> -->
            <li routerLink="/material" routerLinkActive="active"><span>Mat Buttons & Forms </span></li>
            <li routerLink="/matspinner" routerLinkActive="active"><span>Mat Spinner</span></li>
            <li routerLink="/matstab" routerLinkActive="active"><span>Mat Tabs</span></li>
        </ul>
    </kendo-appbar-section>
  
    <kendo-appbar-spacer></kendo-appbar-spacer>
  
    <kendo-appbar-section class="actions">
        <kendo-badge-container>
            <button class="k-button k-button-clear">
                <kendo-icon [name]="'bell'"></kendo-icon>
            </button>
            <kendo-badge [shape]="'dot'" [themeColor]="'warning'" [size]="'small'" [position]="'inside'"></kendo-badge>
        </kendo-badge-container>
        <span class="k-appbar-separator"></span>
    </kendo-appbar-section>
  
    <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" [shape]= "'circle'" [width]="'26px'" [height]="'26px'"></kendo-avatar>
    </kendo-appbar-section>
  </kendo-appbar>
<!-- <app-ui></app-ui> -->
<!-- <app-kendo></app-kendo> -->

<br>
<br>
<router-outlet></router-outlet>